Resources:
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      Subnets:
        - subnet-a061c1c6
        - subnet-0253954a
      Scheme: "internal"
      HealthCheck:
        Target:
          Fn::Join:
          - ''
          - - 'HTTP:80'
            - "/actuator/health"
        HealthyThreshold: '3'
        UnhealthyThreshold: '5'
        Interval: '30'
        Timeout: '5'
      Listeners:
        - InstancePort: '80'
          LoadBalancerPort: '80'
          Protocol: HTTP
      SecurityGroups:
        - Fn::GetAtt: [ AWSEBSecurityGroup , GroupId]
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300
      LoadBalancerNames:
        - Ref: AWSEBLoadBalancer
  AWSEBSecurityGroupSSHIngress:
    Properties:
      SourceSecurityGroupId:
        Ref: AWSEBSecurityGroup
      GroupName:
        Ref: AWSEBSecurityGroup
      FromPort: '80'
      ToPort: '80'
      IpProtocol: tcp
    Type: AWS::EC2::SecurityGroupIngress
